.mainLogs {
  width: 100%;
  height: calc(100% - 0px);
  padding: 0px 0px 10px 0px;

  &__inner {
    display: flex;
    align-items: flex-start;
    height: calc(100% - 0px);
    width: 100%;
  }

  .leftTable {
    width: calc(100% - 30%);
    height: 100%;
    // border-right: 1px solid rgba(192, 192, 192, 0.73);
    table {
      width: 100%;
      // height: 100%;

      thead {
        .header {
          width: 100%;
          height: 100%;
          background: #292d32;

          th {
            text-align: left;
            padding: 10px;
            font-size: 16px;
            // border-right: 1px solid rgba(192, 192, 192, 0.33);
          }

          th:first-child {
            padding-left: 30px;
            border-left: 1px solid rgba(192, 192, 192, 0.33);
            width: 80px !important;
            min-width: 80px !important;
            max-width: 80px !important;
          }

          th:last-child {
            padding-right: 30px;
            width: 120px !important;
            min-width: 120px !important;
            max-width: 120px !important;
          }
        }
      }

      tbody {
        tr {
          cursor: pointer;
        }

        td {
          border-bottom: 1px solid hsla(0, 0%, 88%, 0.205) !important;
          text-align: left;
          padding: 4px 10px;
          font-size: 14px;
          // width: 15%;

          > div {
            display: flex;
            align-items: center;
            gap: 7px;

            > img {
              width: 19px;
              min-width: 19px;
              max-width: 19px;
              height: 19px;
              min-height: 19px;
              max-height: 19px;
              object-fit: cover;
            }
          }
          p {
            text-align: left;
            font-size: 14px;
          }

          .miniLoader {
            width: 20px;
            height: 20px;

            &__block {
              width: 20px;
              height: 20px;

              .spinner {
                width: 20px;
                height: 20px;
              }
            }
          }
        }

        td:first-child {
          padding-left: 30px;
          width: 80px !important;
          min-width: 80px !important;
          max-width: 80px !important;
        }

        td:last-child {
          padding-right: 30px;
          width: 120px !important;
          min-width: 120px !important;
          max-width: 120px !important;
        }

        .errorTrStatus {
          // background: rgba(255, 0, 0, 0.338);
          color: #fff;

          p {
            color: #fff;
          }
        }

        .skipStack {
          background: rgba(157, 122, 58, 0.218);
          color: #fff;
          p {
            color: #fff;
          }
        }
      }
    }

    .activeStack {
      border-top: 1px solid #ffffffa8 !important;
      border-bottom: 1px solid #ffffffa8 !important;
      background: #1a1a1a !important;
    }
  }

  .rightTable {
    width: 30%;
    min-width: 30%;
    max-width: 30%;
    height: 100%;
  }
}
