.modalDel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px 0px 20px 0px;

  .yes {
    background: #c50000;
    padding: 8px 10px;
    color: #fff;
    width: 70px;
    height: 35px;
    border-radius: 5px;
    font-size: 15px;
  }

  .no {
    background: #00c503;
    padding: 8px 10px;
    color: #fff;
    width: 70px;
    height: 35px;
    border-radius: 5px;
    font-size: 15px;
  }
}
