.addDnsMain {
  padding: 0px;

  .nameInputs {
    display: flex;
    align-self: flex-end;
    gap: 5px;

    > .myInput {
      width: 40%;
    }

    .timeInputs {
      display: flex;
      align-self: flex-end;
      gap: 5px;
      width: 60%;
    }
  }

  .comment {
    display: flex;
    align-items: flex-end;
    gap: 5px;

    .myInput {
      input {
        height: 30px !important;
      }
    }

    .addAction {
      height: 30px !important;
    }
  }

  // .actions {
  //   .editAction {
  //     background: #c3602c;
  //     color: #fff;
  //     font-size: 12px;
  //     padding: 8px 10px;
  //     border-radius: 3px;
  //     margin: 5px 0 0 8px;
  //   }
  // }
}
