.actionDns {
  width: 100%;
  background: rgb(30, 31, 35);
  height: 115px;
  max-height: 115px;
  min-height: 115px;
  padding: 0px 5px;
  display: flex;
  gap: 10px;

  .addDnsMain {
    padding: 0px;
    width: 50%;

    .nameInputs {
      display: flex;
      align-items: flex-end;
      gap: 5px;

      > .myInput {
        width: 220px;
      }

      .timeInputs {
        display: flex;
        align-self: flex-end;
        gap: 5px;

        > .myInput {
          width: 80px;
        }
      }

      .my_ip {
        > input {
          color: red;
        }
      }
    }
  }

  .changeIpAddres {
    width: 50%;
    padding: 0 10px;

    border-right: 1px dashed rgb(90, 88, 88) !important;
    // border-left: 1px dashed rgb(90, 88, 88) !important;

    > div {
      display: flex;
      gap: 10px;
    }

    .everyInput {
      margin: 15px 0 0 0;
      h5 {
        display: block;
        font-size: 12px;
        line-height: 13px;
        text-align: left;
        font-weight: 500;
        color: #c0c0c0;
        margin: 0 0 5px 0;
      }
      .selectBlockMain {
        .selectBlock {
          width: 130px;

          .selectBlock__activeBlock {
            top: 36px;
            padding: 5px 0px;

            p {
              padding: 2px 10px;
            }
          }
        }
      }
    }

    .changeBtn {
      color: #fff;
      padding: 8px 10px;
      height: 30px;
      width: 75px !important;
      min-width: 75px !important;
      border-radius: 3px;
      margin: 5px 0 0 0;
      background: #08920a;
      font-size: 11px;
      line-height: 10px;
      margin: 33px 0 0 0;
    }

    .returnsIp {
      // width: 100px;
      display: flex;
      // justify-content: flex-end;
      // align-items: flex-end;
      // flex-direction: column;
      gap: 10px;
      height: 50px;

      &__btn {
        color: #fff;
        // padding: 8px 10px;
        padding: 4px;
        height: 30px;
        border-radius: 3px;
        margin: 5px 0 0 0;
        background: #66b4ff;
        font-size: 11px;
        line-height: 10px;
        width: 35px;
        position: relative;
        margin: 10px 0 0;

        &:hover {
          .moreInfoLeft {
            display: block;
            left: 40px;
            bottom: 40%;
            transform: none;
          }
        }

        img {
          width: 100%;
        }
      }
      button:nth-child(2) {
        background: orange;
      }
    }
  }
}
