.addDnsMain {
  padding: 0px 10px 0 0;

  .myInput {
    h5 {
      margin: 15px 0 3px 0;
    }
  }

  .actions {
    .editAction {
      background: #c3602c;
      color: #fff;
      font-size: 12px;
      padding: 8px 10px;
      border-radius: 3px;
      margin: 5px 0 0 8px;
    }
  }
}
