.numberTypes {
  background: rgb(30, 31, 35);
  display: flex;
  //   justify-content: center;
  flex-wrap: wrap;
  gap: 10px 10px;
  padding: 10px;
  border-radius: 10px;
  max-height: 90px;
  max-width: 711px;

  > div {
    width: 40px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 5px;

    p {
      text-align: center;
      line-height: 20px;
      font-size: 12px;
    }
  }
}
