.haProxy {
  width: calc(100% - 100px);

  &__menu {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    background: rgb(30, 31, 35);

    .info {
      display: flex;
      align-items: center;
      height: 50px;
      gap: 20px;
      padding: 0 10px;
      z-index: 10;

      .save {
        background: #43a0dd;
        margin: 0 20px 0 0;
      }

      > div {
        display: flex;
        align-items: flex-end;
        gap: 5px;

        p {
          font-size: 15px;
        }

        span {
          font-size: 13px;
          color: #43a0dd;
          padding: 0 0 1px 0px;
          margin: 0 5px 0 0;
        }

        .on {
          color: rgb(41, 207, 41);
        }

        .off {
          color: rgb(218, 55, 55);
        }
      }

      .port80 {
        display: flex;
        align-items: center;

        span {
          width: 12px;
          height: 12px;
          background: rgba(126, 76, 227, 0.663);
          margin: 2px 0 0 0;
        }
      }

      .port443 {
        span {
          background: #cb3ebdb6;
          margin: 2px 0 0 0;
        }
      }
    }

    .searchBigData {
      width: 50%;
      margin: 0;
      width: 500px;

      form {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;

        input {
          padding-right: 40px;
        }
      }

      .clear {
        right: 115px !important;
      }
    }

    .saveSettings {
      background: #1976d2;
      height: 35px;
      border-radius: 5px;
      font-size: 12px;
      padding: 0 20px;
      width: auto;
      display: flex;
      align-items: center;
      gap: 5px;
      margin: 0 !important;

      P {
        font-size: 13px;
      }
    }
  }

  &__inner {
    height: calc(100vh - 52px);
    overflow-y: hidden;
    display: flex;
    gap: 10px;
    position: relative;

    &__data {
      // position: absolute;
      // z-index: 2;
      // left: 0;
      // top: 0;
      width: 100%;
      height: 100%;
      background: #292d32;

      > div {
        &::-webkit-scrollbar {
          width: 12px;
          cursor: pointer;
          padding: 10px;
          background: #424242;
        }

        &::-webkit-scrollbar-track {
          background: #424242;
        }

        &::-webkit-scrollbar-thumb {
          background: #686868;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #777777ce;
          cursor: pointer;
        }

        > div {
          table {
            width: 100%;

            tr {
              td {
                // background: #292d32;
                width: 16%;
                max-width: 17%;
                min-width: 16%;
              }
            }
          }
        }
      }
    }

    .laoder {
      position: relative;
      z-index: 1;
    }
  }
}
