.addDelGroup {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;

  .modal {
    .modalDel {
      button {
        width: 70px;
        height: 35px;
      }
    }
  }

  .choiceGroup {
    width: 500px;

    &__inner {
      max-height: 600px;
      overflow-y: scroll;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 20px 20px 20px 0px;
      gap: 15px;

      button {
        width: 220px !important;
        background: rgb(30, 31, 35);
        padding: 10px;
        border-radius: 5px;
        font-size: 15px;
        height: auto !important;

        &:hover {
          background: rgba(30, 31, 35, 0.483);
          color: #d0caca;
        }
      }
    }
  }
}
