.contEdit {
  width: 450px !important;

  .myInput {
    width: 100% !important;

    h5 {
      margin-bottom: 1px;
    }

    textarea {
      font-size: 12px;
      line-height: 15px;
      padding: 3px 5px;
      border: none;
      border-radius: 2px;
      color: #222;
      width: 100%;
      height: 250px;
      background: #9c9c9c;
      font-weight: 700;

      &:focus {
        color: #050505;
        outline: none;
      }
    }
  }

  .actions {
    justify-content: flex-end !important;

    button {
      width: 90px !important;
      min-width: 90px !important;
    }
  }
}

.contAdd {
  width: 600px !important;

  .myInput {
    margin-bottom: 20px !important;
  }

  .actions {
    justify-content: center !important;
    margin-top: 20px;
  }
}

.osModal {
  width: 450px !important;

  .listOS {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 5px;

    button {
      width: 40px;
      height: 40px;

      &:hover {
        transform: scale(1.2);
        transition: 0.3s;
      }

      img {
        border-radius: 50%;
      }
    }
  }
}

.filesAdd {
  width: 650px;
  margin: 20px 0px;
  position: relative;
  min-height: 200px;

  .dzu-dropzone {
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    .dzu-inputLabelWithFiles {
      width: 100%;
      min-height: 200px !important;
      font-family: "Helvetica", sans-serif;
      font-size: 20px;
      font-weight: 600;
      color: #2484ff;
      background: transparent !important;
      text-align: center;
      margin: 0 !important;
    }

    .dzu-submitButtonContainer {
      display: none !important;
    }
  }

  .dzu-submitButton {
    display: none !important;
  }

  .dzu-previewContainer {
    display: none !important;
  }

  .dzu-inputLabel {
    display: flex !important;
  }

  .dzu-previewFileName {
    color: #fff;
  }

  .actions {
    justify-content: flex-end !important;
  }

  .listFiles {
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .everyFile {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0 10px;
      gap: 20px;

      a {
        width: 70%;
        overflow-x: hidden;
      }

      button {
        width: 28px;
        min-width: 28px;
        height: 28px;
      }
    }
  }
}

.choiceGroup {
  width: 480px;

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 0px 40px;
    gap: 15px;

    button {
      width: 220px;
      background: rgb(30, 31, 35);
      padding: 5px 0px 7px;
      border-radius: 5px;
      font-size: 15px;

      &:hover {
        background: rgba(30, 31, 35, 0.483);
        color: #d0caca;
      }
    }

    .activeGroup {
      background: #66b4ff !important;

      &:hover {
        background: #66b4ff !important;
        color: #fff;
      }
    }
  }
}

.offContainer {
  width: 440px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px 20px;
  gap: 40px;

  .yes {
    background: green;
    border-radius: 8px;
    width: 90px;
    height: 40px;
  }

  .no {
    background: red;
    border-radius: 8px;
    width: 90px;
    height: 40px;
  }
}

.backUp {
  h6 {
    width: 90% !important;
  }

  &__inner {
    width: 100% !important;
    margin: 20px 0px 10px;
  }

  &__main {
    .selectBlockMain {
      width: 100%;
      margin-bottom: 10px;

      .selectBlock__inner {
        height: 40px;

        p,
        .activeText {
          font-size: 16px;
        }

        img {
          width: 22px;
          height: 22px;
        }
      }

      .selectBlock__activeBlock {
        top: 45px;
        padding: 5px 0px;
        box-shadow: 0 1px 5px 0 rgba(65, 69, 88, 0.1),
          0 3px 6px 0 rgba(0, 0, 0, 0.07);

        p {
          font-size: 16px;
          padding: 5px 10px;
        }
      }
    }
  }

  .actionsBackUp {
    display: flex;
    justify-content: flex-end !important;

    button {
      padding: 10px 25px;
    }
  }
}

.moreText {
  margin: 20px 0 0 0;

  pre {
    line-height: 26px;
    font-size: 14px;
  }
}
