.containerMain {
  display: flex;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 3px 10px 3px 5px;
  margin-bottom: 3px;
  width: 100%;
  border-left: 4px solid transparent;

  &__inner {
    display: flex;
    align-items: flex-start;
    width: 100%;

    .bottom {
      margin: 5px 0 0 0;

      .numIndex {
        margin-right: 5px !important;
        min-width: 70px;
        display: flex;
        align-items: center;
        gap: 5px;
        background: green;
        padding: 2px 5px;
        border-radius: 3px;

        img {
          width: 18px;
          height: 18px;
        }

        p {
          font-size: 12px;
        }
      }

      .noActivce {
        background: #514848 !important;
      }
    }

    .editBlock {
      display: flex;
      align-items: flex-start;
      gap: 1px;
      margin: 5px 5px 0 0;

      &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        width: 25px;

        .edit {
          width: 18px;
          min-width: 18px;
          height: 18px;
          margin: 0 0px;
          // background: rgb(30, 31, 35);
          border-radius: 5px;

          svg {
            width: 100%;
            height: 100%;
          }
        }

        .OS {
          width: 23px;
          min-width: 23px;
          height: 23px;

          > img {
            border-radius: 50%;
          }
        }
      }
    }

    .titles {
      padding-top: 0px !important;
      width: 100%;

      .mainInfo {
        width: 100%;
        max-width: 100%;
        .hostName {
          color: #c3602c;
          font-size: 12px;
          margin-right: 3px;
          line-height: 13px !important;
        }
        p {
          font-size: 12px;
          color: #3e86c8;
          width: 100%;
          display: inline;
          line-height: 13px !important;
        }
      }
      .description {
        font-size: 10px;
        display: block;
        margin: 5px 0 0 0;
        max-width: 100%;
        display: inline;

        a {
          font-size: 10px;
          margin: 0 5px 0 0;
        }
      }
    }

    .memory {
      width: 250px;
      margin: 5px 0 0 0;

      &__inner {
        display: flex;
        align-items: center;
        gap: 10px;

        > button {
          width: 22px;
          height: 22px;
          transform: rotate(40deg);

          svg {
            width: 100%;
            height: 100%;
          }
        }

        .memoryBlock {
          width: 170px;

          .GB {
            width: 100%;
          }

          .comps {
            display: none !important;
          }
        }

        .GB_dataBase {
          display: flex;
          align-items: center;
          flex-direction: column;
          margin: 0 0 0 5px;

          > div {
            background: linear-gradient(
              0deg,
              rgba(75, 194, 119, 1) 10%,
              rgba(255, 255, 255, 1) 90%
            );
            height: 20px;
            width: 18px;
          }
          p {
            font-size: 12px;
            font-weight: 300;
          }
        }
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      gap: 4px;
      justify-content: center;
      margin: 5px 5px 0 15px;
      width: 300px;

      &__inner {
        display: flex;
        align-items: center;
        gap: 10px;

        button {
          width: 20px;
          height: 20px;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          &:hover {
            .moreInfoLeft {
              display: block;
            }
          }
        }
      }

      .deleteBtn {
        background: #bb3030;
        font-size: 11px;
        width: 55px;
        border-radius: 5px;
        padding: 3px;
      }

      .key {
        padding: 3px 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        gap: 10px;

        p {
          font-size: 12px;
          // width: 100px;
          text-align: center;
        }
      }

      &__key {
        justify-content: center !important;
      }
    }
  }
}

.containerActive {
  border: 1px solid #fff;
  position: relative;
  border-radius: 5px;
  padding: 3px 10px 7px 5px;

  &::after {
    content: "";
    border-radius: 0 3px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    border: 10px solid transparent;
    border-top: 10px solid #fff;
    border-right: 10px solid #fff;
  }
}

.containerColor {
  border-left: 4px solid #66b4ff;
}

.virtualkaColor {
  border-left: 4px solid #ce723b;
}

.serviceColor {
  border-left: 4px solid #e1e16f;
}
