.addTypeDns {
  padding: 0px 10px 0 0;
  border: 1px dashed rgb(90, 88, 88);
  background: rgb(30, 31, 35);
  height: 150px;
  max-height: 150px;
  min-height: 150px;
  position: relative;

  &__menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 1px 0 0 0;

    li {
      border-right: 1px solid #9b9797;
      padding: 5px 5px;
      cursor: pointer;
      font-size: 12px;
      border-top: 2px solid transparent;

      &:hover {
        border-top: 2px solid #3333e1;
        background: #292d32;
      }
    }

    .activeMenu {
      border-top: 2px solid #3333e1;
      background: #292d32;
    }
  }

  .sendData {
    margin: 0px 0 0 5px;
  }
}
