.modalsProxy {
  .addAction {
    padding: 2px 5px;
    color: #fff;
    padding: 8px 10px;
    height: 30px;
    border-radius: 3px;
    margin: 5px 0 0 0;
    background: #08920a;
    font-size: 11px;
    line-height: 10px;
  }
}
