.graphicContainer {
  height: 100%;
  width: 100%;
  padding: 10px 0 0 0;
  position: relative;
  background: rgb(30, 31, 35);

  tspan {
    font-size: 10px;
  }

  .recharts-default-legend {
    position: absolute;
    bottom: -60px;
    left: 40px;
  }

  .recharts-legend-item-text {
    font-size: 10px !important;
  }

  .recharts-default-legend {
    display: none !important;
  }
}
