.graphicContainer {
  height: 100%;
  width: 100%;
  padding: 20px 0 0 0;
  position: relative;

  tspan {
    font-size: 10px;
  }

  .recharts-default-legend {
    position: absolute;
    bottom: -60px;
    left: 40px;
  }

  .recharts-legend-item-text {
    font-size: 10px !important;
  }

  .recharts-default-legend {
    display: none !important;
  }
}
