.blockSubDomen {
  height: 100%;
  display: flex;
  flex-direction: column;

  .tableEditDns {
    color: #c0c0c0;
    background: #2b2b2b;
    overflow-y: scroll;
    height: 100%;

    .title {
      font-size: 13px;
      font-weight: 600;
      color: #c0c0c0;
      padding: 0 10px;
      background: #2b2b2b;
      width: 20%;
      border-bottom: 1px solid rgba(224, 224, 224, 0.205) !important;
    }

    .text {
      background: #2b2b2b;
      width: 20%;
      font-size: 11px;
      padding: 5px 10px;
      color: #c0c0c0;
      height: 30px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.061);

      .yes {
        color: #08920a;
        font-size: 11px;
      }

      .no {
        color: rgba(255, 0, 0, 0.623);
        font-size: 11px;
      }
    }

    .nameText {
      color: orange;
    }

    .click {
      cursor: pointer;
    }

    .data {
      color: #66b4ff;
    }

    .actions {
      .blockActions {
        display: flex;
        align-items: center;
      }

      &__btns {
        background: #222628;
        width: 22px;
        height: 22px;
        border-radius: 3px;
        margin: 0 3px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        img {
          width: 75%;
          height: 77%;
        }
      }

      .krest {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &::-webkit-scrollbar {
      min-width: 5px;
      max-width: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      min-width: 5px;
      max-width: 5px;
      &:hover {
        background-color: #050505;
      }
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      cursor: pointer;
      max-height: 50px;
      min-height: 50px;
    }

    &:hover {
      &::-webkit-scrollbar-track {
        background-color: #050505;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #ffffff4e;
      }
    }
  }

  .actionDns {
    width: 100%;
    background: rgb(30, 31, 35);
    margin: 10px 0 0 0;
    height: 350px;
    padding: 5px;
    padding: 5px 0 0 0;
  }

  .saveBtn {
    background: green;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 5px;
  }
}

.modalEdit {
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 550px;

  &__inner {
    .myInput {
      width: 50% !important;
    }
  }

  .comments {
    width: 100%;
    position: relative;
  }

  .time {
    align-items: flex-end;

    > .myInput {
      width: 30%;
    }
  }

  .actions {
    justify-content: flex-end !important;
    padding-bottom: 0px;

    .addAction {
      width: auto !important;
      min-width: auto !important;
      font-size: 13px;
      height: 35px;
    }
  }
}
