.menuInner {
  background: rgba(30, 31, 35, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  min-height: 93vh;
  padding: 100px 0px 10px 0px;
  position: relative;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .every {
      display: inline-flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      // border-radius: 5px;
      padding: 8px 10px;
      position: relative;
      width: 200px;

      &:hover {
        background: #ffffff36;
        p {
          display: inline-block;
        }
      }

      div {
        width: 18px;
        height: 18px;
      }

      > p {
        // display: none;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        // position: absolute;
        // left: 55px;
        // top: 50%;
        // transform: translateY(-50%);
        // background: #fff;
        // padding: 10px;
        // border-radius: 5px;
        // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }

    .listCateg {
      display: flex;
      flex-direction: column;
      gap: 10px;
      cursor: pointer;
      overflow: hidden;
      transition: all 0.3s ease;

      &.collapsed {
        max-height: 0;
        opacity: 0;
        margin: 0;
      }

      &.expanded {
        max-height: 500px;
        opacity: 1;
        margin: 5px 0 0 33px;
      }

      div {
        &:hover {
          text-decoration: underline;
        }

        p {
          font-size: 13px;
          text-align: left;

          b {
            font-size: 13px;
            text-align: left;
            color: #66b4ff;
          }
        }

        span {
          font-size: 13px;
          text-align: left;
        }
      }
    }
  }

  .active {
    background: #ffffff36;
  }
}
