.historyPage {
  width: 100%;
  height: 100%;
  //   background: red;

  .header {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    background: rgb(30, 31, 35);
    height: 50px;

    .searchBigData {
      width: 450px;
      margin: 0px;
      padding: 5px 2px;

      input {
        height: 33px !important;
      }
    }
  }

  .body {
    height: calc(100% - 60px);
    overflow-y: scroll;
    padding: 10px;

    .everyHistory {
      display: flex;
      align-items: flex-start;
      gap: 10px;

      .time {
        font-size: 14px;
        width: 140px;
        color: #ffffffc1;
        padding: 8px 0 0 0;
      }
    }

    .containerActive {
      border: 1px solid transparent !important;
      &::after {
        display: none !important;
      }
    }
  }
}
