.statusContainers {
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 0px;

    img {
      width: 20px;
      height: 20px;
    }

    span {
      font-size: 12px;
      color: #3e86c8;
    }
  }

  .list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin: 5px 0 0 0;

    .everyInner {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      gap: 7px;
      padding: 0 5px;
    }

    input {
      width: 80%;
      background: #292d32;
      border-radius: 3px;
      height: 20px;
      font-size: 11px;
      color: #fff;
      padding: 2px 4px;
      border: 1px solid #ffffff2d;

      &:focus {
        outline: none;
      }
    }

    span {
      font-size: 11px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 50px;
      padding: 0px 3px;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px 2px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%);

    button {
      position: relative;
      width: 18px;
      min-width: 18px;
      height: 18px;

      span {
        right: 0px;
        transform: translateX(1px);
        left: auto;
      }

      &:hover {
        .moreInfoLeft {
          display: block;
        }
      }
    }
  }
}
