.statusContainers {
  .header {
    height: 50px;
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      gap: 9px;

      img {
        width: 20px;
        height: 20px;
      }

      span {
        font-size: 12px;
        color: #3e86c8;
      }

      input {
        margin: 0;
        padding: 0px 2px;
        border: 1px solid #ccc;
        border-radius: 5px;
        height: 20px !important;
        outline: none;
        transition: 0.2s ease-in-out;
      }
    }
  }

  .list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin: 5px 0 0 0;
    overflow-x: auto;
    height: calc(100% - 50px - 50px);

    .everyInner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 0 3px;

      span {
        font-size: 13px !important;
      }

      input {
        margin: 0;
        padding: 0px 2px;
        border: 1px solid #ccc;
        border-radius: 5px;
        height: 20px !important;
        outline: none;
        transition: 0.2s ease-in-out;
      }
    }

    span {
      font-size: 11px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 50px;
      padding: 0px 3px;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 15px 7px;
    width: 100%;

    button {
      position: relative;
      width: 18px;
      min-width: 18px;
      height: 18px;

      span {
        right: 0px;
        transform: translateX(1px);
        left: auto;
      }

      &:hover {
        .moreInfoLeft {
          display: block;
        }
      }
    }
  }
}

.everyVolns {
  // background: red;
  height: 100%;

  .modal {
    position: fixed !important;

    &__inner {
      .modal__inner__title {
        h6 {
          color: #fff !important;
          font-size: 16px !important;
          font-weight: 400 !important;
        }
      }
    }
  }
}
