.statusContainers {
  .header {
    height: 50px;

    h6 {
      text-align: center;
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 5px 7px 5px 8px;
      gap: 15px;

      > div {
        display: flex;
        align-items: center;
        gap: 15px;

        img {
          width: 20px;
          height: 20px;
        }

        span {
          font-size: 14px;
          color: #3e86c8;
          cursor: pointer;
        }
      }

      input {
        margin: 0;
        padding: 0px 2px;
        border: 1px solid #ccc;
        border-radius: 5px;
        height: 16px !important;
        width: 16px !important;
        outline: none;
        transition: 0.2s ease-in-out;
        cursor: pointer;
      }
    }
  }

  .list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin: 5px 0 0 0;
    overflow-x: auto;
    height: calc(100% - 50px - 50px);

    .everyInner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 0 6px;
      cursor: pointer;

      span {
        font-size: 13px !important;
        width: calc(100% - 19px) !important;
        max-width: calc(100% - 19px) !important;
        display: block;
      }

      input {
        margin: 0;
        padding: 0px 2px;
        border: 1px solid #ccc;
        border-radius: 5px;
        height: 15px !important;
        width: 15px !important;
        outline: none;
        transition: 0.2s ease-in-out;
        cursor: pointer;
      }
    }

    span {
      font-size: 11px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 50px;
      padding: 0px 3px;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 15px 7px;
    width: 100%;

    button {
      position: relative;
      width: 22px;
      min-width: 22px;
      height: 22px;
      padding: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      // background: red;

      span {
        right: 0px;
        transform: translateX(1px);
        left: auto;
      }

      &:hover {
        .moreInfoLeft {
          display: block;
        }
      }
    }
  }
}

.everyVolns {
  height: 100%;

  .modal {
    position: fixed !important;

    &__inner {
      .modal__inner__title {
        h6 {
          color: #fff !important;
          font-size: 16px !important;
          font-weight: 400 !important;
        }
      }
    }
  }
}
