.mainPage {
  width: 100%;

  .providers {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 25px;
    border-bottom: 1px solid #6e6b6b;

    &__inner {
      display: flex;
      align-items: center;
      gap: 10px;

      > div {
        display: flex;
        align-items: center;
        background: rgb(30, 31, 35);
        padding: 3px 8px;
        gap: 5px;

        p {
          font-size: 16px;
        }

        .round {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: green;
        }

        span {
          display: block;
          font-size: 12px;
          margin: 0 0 0 8px;
        }
      }
    }
  }

  .hostAndContainer {
    display: flex;
    min-width: 100%;

    .hosts {
      height: 96vh;
      width: 52%;
      padding: 8px;

      &__inner {
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
        overflow-y: scroll;
        height: 60%;
        &::-webkit-scrollbar {
          min-width: 5px;
          max-width: 5px;
        }

        &::-webkit-scrollbar-track {
          background-color: transparent;
          min-width: 5px;
          max-width: 5px;
          &:hover {
            background-color: #050505;
          }
        }

        &::-webkit-scrollbar-thumb {
          background-color: transparent;
          cursor: pointer;
          max-height: 50px;
          min-height: 50px;
        }

        &:hover {
          &::-webkit-scrollbar-track {
            background-color: #050505;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #ffffff4e;
          }
        }
      }

      &__more_info {
        height: 38%;
        width: 100%;
        background: rgb(30, 31, 35);
        margin: 10px 0 0 0;
      }
    }

    .containers {
      height: 96vh;
      width: 38%;
      padding: 8px;

      &__inner {
        width: 100%;
        padding: 10px;
        height: 60%;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          min-width: 5px;
          max-width: 5px;
        }

        &::-webkit-scrollbar-track {
          background-color: transparent;
          min-width: 5px;
          max-width: 5px;
          &:hover {
            background-color: #050505;
          }
        }

        &::-webkit-scrollbar-thumb {
          background-color: transparent;
          cursor: pointer;
          max-height: 50px;
          min-height: 50px;
        }

        &:hover {
          &::-webkit-scrollbar-track {
            background-color: #050505;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #ffffff4e;
          }
        }
      }

      &__more_info {
        width: 100%;
        background: rgb(30, 31, 35);
        margin: 10px 0 0 0;
        height: 38%;
      }
    }
  }

  .activeHosts {
    .hosts__inner {
      height: 100% !important;
    }

    .hosts__more_info {
      display: none;
    }
  }

  .activeContainer {
    .containers__inner {
      height: 100% !important;
    }

    .containers__more_info {
      display: none;
    }
  }
}
