.hostsEdit {
  width: 650px;

  .second {
    flex-direction: column;

    .myInputs {
      margin: 10px 0 0 0;
    }
  }

  .titleVmbr {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 5px 0 3px;

    button {
      background: green;
      padding: 0px 10px;
      border-radius: 3px;
      font-size: 20px;
    }

    h6 {
      font-size: 10px;
      line-height: 10px;
      margin: 10px 0 8px 0;
      font-weight: 600;
      color: #c0c0c0;
    }
  }

  .listHostsStorage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    // overflow-y: scroll;
    // max-height: 300px;

    .every {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 5px;
      border: 1px solid #fff;
      border-radius: 3px;

      p {
        font-size: 13px;
      }

      .del {
        width: 20px;
        height: 20px;
      }
    }

    &::-webkit-scrollbar {
      min-width: 5px;
      max-width: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      min-width: 5px;
      max-width: 5px;
      &:hover {
        background-color: #050505;
      }
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      cursor: pointer;
      max-height: 50px;
      min-height: 50px;
    }

    &:hover {
      &::-webkit-scrollbar-track {
        background-color: #050505;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #ffffff4e;
      }
    }
  }

  .actions {
    align-items: flex-end !important;
    flex-direction: row !important;

    .addVmbr {
      display: flex;
      align-items: center;
      input {
        height: 30px;
        border: none;
        outline: none;
        color: #222;
        font-size: 12px;
        padding: 2px 5px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        background: #9c9c9c;
      }

      button {
        width: 30px;
        height: 30px;
        background: #08920a;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }

  .addHosts {
    justify-content: flex-end !important;
  }
}
