.ipAddresPage {
  width: calc(100% - 100px);
  height: 100%;
  // overflow: scroll;

  ///// переиспользую снизу 2 раза
  .actions {
    display: flex;
    align-items: center;
    gap: 2px;
    height: 25px;

    button {
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 80%;
        height: 80%;
      }
    }

    .edit {
      // background: rgb(30, 31, 35);
      border-radius: 5px;
    }

    .del {
      img {
        width: 60%;
        height: 60%;
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    background: rgb(30, 31, 35);
    height: 50px;
    gap: 10px;
    min-width: 100%;
    padding: 0 8px;
    z-index: 10;
  }

  &__inner {
    width: 100%;
    display: flex;
    padding: 5px 0 0 0;
    height: calc(100% - 52px);
    overflow: scroll;

    .every {
      box-sizing: border-box;
      border-right: 1px solid #222;
      width: 420px;
      min-width: 420px;
      border-bottom: 2px solid #222;
      cursor: pointer;

      .titlesAction {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0px 8px 0px;

        h5 {
          font-size: 11px;
          font-weight: 500;
          color: #ffffffc2;
        }
      }

      &__inner {
        margin: 0 0 5px 0;
        .titleInner {
          background: rgb(30, 31, 35);
          padding: 4px 6px 2px;
          margin: 3px 0 0 0;

          .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            h6 {
              font-size: 12px;
              color: #9d49e2;
              line-height: 10px;
            }

            span {
              font-size: 11px;
              color: #ffa500;
            }

            p {
              font-size: 11px;
              font-weight: 500;
              color: #d333c6;
            }
          }
        }

        .listIp {
          display: flex;
          flex-direction: column;
          gap: 1px;

          .titles {
            width: 100%;
            display: flex;
            padding: 2px 0px;
            p:nth-child(1) {
              width: 45px;
              font-size: 10px;
              text-align: left;
              padding: 0 8px;
              font-weight: 600;
              color: #ffffff9f;
            }
            p:nth-child(2) {
              width: 70px;
              font-size: 10px;
              text-align: center;
              font-weight: 600;
            }
            p:nth-child(3) {
              font-size: 10px;
              text-align: center;
              width: 80px;
              font-weight: 600;
              color: #ffffff9f;
            }
            p:nth-child(4) {
              font-size: 10px;
              font-weight: 600;
              text-align: center;
              color: #ffffff9f;
            }
          }

          .ip__every {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid #808080;
            padding: 0px 10px;
            cursor: pointer;

            &__inner {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 8px;

              .btnBlink {
                width: 7px !important;
                min-width: 7px !important;
                min-height: 7px !important;
                height: 7px !important;
              }

              .index {
                display: flex;
                align-items: center;
                width: 30px;
              }

              b {
                font-size: 9px;
                display: block;
                font-weight: 500;
                display: block;
                width: 15px;
              }

              .moreInfoIp {
                display: flex;
                align-items: center;
                // justify-content: space-between;
                width: 100%;

                > p {
                  font-size: 10px;
                  display: block;
                  font-weight: 400;
                  width: 70px;
                  font-weight: 500;
                  padding: 0 3px;
                }

                span {
                  font-size: 10px;
                  display: block;
                  color: #4f82ed;
                  width: 80px;
                  text-align: center;
                }

                .other {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  width: calc(100% - 139px);
                  .nums {
                    display: flex;
                    align-items: center;
                    gap: 3px;
                    z-index: 1;

                    img {
                      width: 13px;
                      height: 13px;
                    }

                    p {
                      font-size: 9px;
                      color: rgb(28, 194, 28);
                    }
                  }
                  .comment {
                    font-size: 10px;
                    display: block;
                    font-weight: 400;
                    font-style: normal;
                    color: #ffffff9f;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
