.logout {
  display: flex;
  justify-content: center;
  position: relative;
  position: fixed;
  z-index: 10;
  right: 5px;
  top: 0px;
  background: rgb(30, 31, 35);
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;

  button {
    width: 25px;
    height: 25px;
    background: transparent;

    p {
      display: none;
      color: #393636;
      font-size: 14px;
      font-weight: 600;
      position: absolute;
      left: 55px;
      top: 50%;
      transform: translateY(-50%);
      background: #fff;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    &:hover {
      p {
        display: inline-block;
      }
    }
  }
}

.checkMainPage {
  height: 35px !important;
  padding: 0 !important;
  background: transparent !important;
}
