.hostsMain {
  border-radius: 5px;
  padding: 5px;
  width: 196px;
  background: rgb(30, 31, 35);
  height: auto;
  cursor: pointer;
  border: 1px solid transparent;

  h4 {
    font-size: 10px;
    font-weight: 500;
    color: #ffffffc5;
  }

  .actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 4px 0px 0px;
    gap: 3px;

    .hostTitle {
      display: flex;
      align-items: center;
      gap: 2px;

      img {
        width: 25px;
        height: 25px;
        object-fit: cover;
        border-radius: 5px;
      }

      &__main {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        p {
          font-size: 12px;
          font-weight: 500;
          margin-right: 5px;
          color: #fff;
          background: rgba(81, 72, 72, 0.567);
          // background: rgb(72, 71, 71);
          padding: 2px 6px 3px;
          border-radius: 2px;
        }

        b {
          color: #e1e16f;
          font-size: 11px;
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 5px;

      button {
        min-width: 20px;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &:hover {
          .moreInfo {
            display: block;
          }
        }
      }

      .edit {
        margin: 0 0 0 2px;
        width: 19px;
        height: 19px;
      }

      .del {
        min-width: 23px;
        width: 19px;
        height: 19px;

        img {
          width: 90%;
          height: 90%;
        }
      }
    }
  }

  .vmbrBlock {
    div {
      display: flex;
      align-items: center;
      gap: 2px;

      img {
        width: 15px;
        height: 15px;
      }

      p {
        color: #66b4ff;
        font-size: 11px;
        line-height: 18px;
        width: 41px;
        font-weight: 500;
      }

      span {
        display: block;
        margin-left: 5px;
        line-height: 18px;
        color: #66b4ff;
        font-size: 11px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .ip_address {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 5px 3px;
    background-color: "#008000";
    border-radius: 10px;

    .ping {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      b {
        margin-left: 2px;
      }
    }

    .ip_host {
      font-size: 14px;
      font-weight: 600;
      color: #ffffffc5;
    }

    span {
      font-size: 12px;
      min-width: 30px;
      font-weight: 500;
    }
    b {
      font-size: 10px;
    }
  }

  .comment {
    font-size: 11px;
    color: #ffffffc5;
  }
}

.activeHost {
  position: relative;
  background: #498d7487 !important;
}

.lineError {
  background: linear-gradient(
    45deg,
    #ff00008a 25%,
    #514848 0,
    #514848 50%,
    #ff00008a 0,
    #ff00008a 75%,
    #514848 0
  );
  background-size: 30px 30px;
}
