.hostsMain {
  border-radius: 5px;
  padding: 5px;
  width: 196px;
  background: rgb(30, 31, 35);
  height: auto;
  cursor: pointer;
  border: 1px solid transparent;

  h4 {
    font-size: 12px;
    font-weight: 500;
  }

  .actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 4px 0px 0px;
    gap: 3px;

    p {
      font-size: 14px;
      font-weight: 500;
      margin-right: 5px;

      b {
        color: #e1e16f;
        font-size: 11px;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 5px;

      button {
        min-width: 15px;
        width: 18px;
        height: 20px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &:hover {
          .moreInfo {
            display: block;
            left: 25px;
          }
        }
      }

      .del,
      .edit {
        background: #292d32;

        > img {
          width: 90%;
          height: 90%;
        }
      }
    }
  }

  .vmbrBlock {
    div {
      display: flex;
      align-items: center;
      gap: 2px;

      img {
        width: 15px;
        height: 15px;
      }

      p {
        color: #66b4ff;
        font-size: 11px;
        line-height: 18px;
        width: 41px;
        font-weight: 500;
      }

      span {
        display: block;
        margin-left: 5px;
        line-height: 18px;
        color: #66b4ff;
        font-size: 11px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .ip_host {
    font-size: 13px;
    margin: 2px 0px 5px;
    text-decoration: underline;
  }

  .comment {
    font-size: 11px;
  }
}

.activeHost {
  border: 1px solid #fff;
  position: relative;

  &::after {
    content: "";
    border-radius: 0 3px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    border: 15px solid transparent;
    border-top: 15px solid #fff;
    border-right: 15px solid #fff;
  }
}

.lineError {
  background: linear-gradient(
    45deg,
    #ff00008a 25%,
    #514848 0,
    #514848 50%,
    #ff00008a 0,
    #ff00008a 75%,
    #514848 0
  );
  background-size: 30px 30px;
}

.hostsEdit {
  width: 650px;

  .second {
    flex-direction: column;

    .myInputs {
      margin: 10px 0 0 0;
    }
  }

  > h6 {
    width: 100%;
    font-size: 10px;
    line-height: 10px;
    margin: 10px 0 8px 0;
    font-weight: 600;
    color: #c0c0c0;
  }

  .listHostsStorage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    // overflow-y: scroll;
    // max-height: 300px;

    .every {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 5px;
      border: 1px solid #fff;
      border-radius: 3px;

      p {
        font-size: 13px;
      }

      .del {
        width: 20px;
        height: 20px;
      }
    }

    &::-webkit-scrollbar {
      min-width: 5px;
      max-width: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      min-width: 5px;
      max-width: 5px;
      &:hover {
        background-color: #050505;
      }
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      cursor: pointer;
      max-height: 50px;
      min-height: 50px;
    }

    &:hover {
      &::-webkit-scrollbar-track {
        background-color: #050505;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #ffffff4e;
      }
    }
  }

  .actions {
    align-items: flex-end !important;
  }
}
