.statusContainers {
  width: 290px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  > div {
    width: 33%;
    border-left: 2px solid rgb(30, 31, 35);
    height: 96vh;
    position: relative;
    padding-bottom: 50px;

    p {
      padding: 5px 2px 6px;
      font-size: 10px;
      text-align: center;
      border-radius: 5px;
      font-weight: 600;
      margin: 3px 0px;
      cursor: pointer;
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 5px 0px;

      img {
        width: 20px;
        height: 20px;
      }

      span {
        font-size: 12px;
        color: #3e86c8;
      }
    }

    .list {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 5px;
      margin: 5px 0 0 0;

      .everyInner {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        gap: 7px;
        padding: 0 5px;
      }

      input {
        width: 80%;
        background: #292d32;
        border-radius: 3px;
        height: 20px;
        font-size: 11px;
        color: #fff;
        padding: 2px 4px;
        border: 1px solid #ffffff2d;

        &:focus {
          outline: none;
        }
      }

      span {
        font-size: 11px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 50px;
        padding: 0px 3px;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 7px;
      padding: 15px 2px;
      position: absolute;
      left: 50%;
      bottom: 10px;
      transform: translate(-50%);

      button {
        position: relative;
        width: 18px;
        min-width: 18px;
        height: 18px;

        span {
          right: 0px;
          transform: translateX(1px);
          left: auto;
        }

        &:hover {
          .moreInfoLeft {
            display: block;
          }
        }
      }
    }
  }

  .clear {
    h6 {
      text-align: center;
      font-size: 11px;
      font-weight: 500;
      padding: 8px 0px 0 0;
      color: red;
    }
  }

  .active {
    background: transparent !important;
    h6 {
      text-align: center;
      font-size: 11px;
      font-weight: 500;
      padding: 8px 0px 0 0;
      color: green;
    }
  }
  .diactive {
    h6 {
      text-align: center;
      font-size: 11px;
      font-weight: 500;
      padding: 8px 0px 0 0;
      color: #dd8537;
    }
  }
}

.load {
  position: relative;
  width: 12px;
  height: 12px;
}

.load::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 8px;
  height: 8px;
  border: 2px solid #3498db;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
