.viewProviders {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
  }

  > div {
    display: flex;
    align-items: center;
    // background: rgb(30, 31, 35);
    padding: 5px 8px;
    gap: 6px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;

    &:hover {
      .moreInfo {
        display: block;
        top: 30px;
        left: 100px !important;
      }
    }

    > img {
      width: 25px;
      min-width: 25px;
      height: 25px;
      border-radius: 5px;
    }

    p {
      font-size: 16px;
    }

    .title {
      font-size: 13px;
    }

    .pingtime {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      animation: animProv 0.4s infinite;
    }

    @keyframes animProv {
      0% {
        background-color: transparent;
      }
    }

    span {
      display: block;
      font-size: 12px;
    }
  }
}
