$backgroundColor: #292d32;
$colorWhite: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

body {
  background: $backgroundColor;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background: transparent;
}

img {
  width: 100%;
  height: 100%;
}

.noneData {
  display: none;
}

.viewData {
  display: block;
}

.addBtn {
  background: rgb(60, 227, 60);
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 20px;
}

.btnBlink {
  background-color: rgb(47, 218, 47); /* Зеленый фон */
  color: white; /* Белый текст */
  border: none; /* Без границы */
  border-radius: 50%; /* Скругление углов */
  cursor: pointer; /* Указатель мыши изменяется на "руку" */
  transition: background-color 0.3s ease; /* Плавный переход цвета фона */
  width: 10px;
  min-width: 10px;
  height: 10px;
  min-height: 10px;
  animation: animation 1s infinite;
}

.moreInfo {
  position: absolute;
  top: 0;
  left: 25px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #fff;
  display: none;
  font-size: 11px;
  z-index: 99;
  background: #292d32;
  white-space: nowrap;
}
// AddNSChame
// AddNSChame
// AddNSChame
// AddNSChame
// AddRTRChame
.moreInfoLeft {
  position: absolute;
  bottom: 100%; /* Поднимает текст над кнопкой */
  left: 50%; /* Центрирует текст относительно кнопки */
  transform: translateX(-50%);
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #fff;
  display: none;
  font-size: 11px;
  z-index: 999 !important;
  background: #292d32;
  white-space: nowrap;
}

.widthMiddle {
  .myInput {
    width: 180px !important;
  }
}

.widthBig {
  .myInput {
    width: 220px !important;
  }
}

.widthMini {
  .myInput {
    width: 80px !important;
  }
}

@keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
