$backgroundColor: #292d32;
$colorWhite: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

body {
  background: $backgroundColor;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background: transparent;
}

img {
  width: 100%;
  height: 100%;
}

.noneData {
  display: none;
}

.viewData {
  display: block;
}

.addBtn {
  background: rgb(60, 227, 60);
  padding: 1px 10px;
  border-radius: 5px;
  font-size: 20px;
}

.btnBlink {
  background-color: rgb(47, 218, 47); /* Зеленый фон */
  color: white; /* Белый текст */
  border: none; /* Без границы */
  border-radius: 50%; /* Скругление углов */
  cursor: pointer; /* Указатель мыши изменяется на "руку" */
  transition: background-color 0.3s ease; /* Плавный переход цвета фона */
  width: 10px;
  min-width: 10px;
  height: 10px;
  min-height: 10px;
  animation: animation 1s infinite;
}

.moreInfo {
  position: absolute;
  top: 0;
  left: 25px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #fff;
  display: none;
  font-size: 11px;
  z-index: 99;
  background: #292d32;
  white-space: nowrap;
}

.moreInfoLeft {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #fff;
  display: none;
  font-size: 11px;
  z-index: 999 !important;
  background: #292d32;
  white-space: nowrap;
}

.widthMiddle {
  .myInput {
    width: 180px !important;
  }
}

.widthBig {
  .myInput {
    width: 220px !important;
  }
}

.widthMini {
  .myInput {
    width: 80px !important;
  }
}

.mainDns {
  display: flex;
  align-items: flex-end;

  span {
    font-size: 12px;
    line-height: 25px;
    padding: 3px 5px;
    border-radius: 2px;
    color: #222;
    height: 30px;
    background: #9c9c9c;
    font-weight: 700;
    border-left: 1px solid #222;
  }
}

@keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hoverScroll {
  &::-webkit-scrollbar {
    min-width: 10px;
    max-width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    min-width: 10px;
    max-width: 10px;
    &:hover {
      background-color: #050505;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    cursor: pointer;
    max-height: 50px;
    min-height: 50px;
  }

  &:hover {
    &::-webkit-scrollbar-track {
      background-color: #050505;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #ffffff4e;
    }
  }
}

.hoverScroll-X {
  &::-webkit-scrollbar {
    height: 10px; /* Задаем высоту для горизонтальной прокрутки */
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    height: 10px;
    &:hover {
      background-color: #050505;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    cursor: pointer;
    width: 50px; /* Задаем ширину для горизонтальной прокрутки */
    min-width: 50px;
  }

  &:hover {
    &::-webkit-scrollbar-track {
      background-color: #050505;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #ffffff4e;
    }
  }
}

.addActionBtn {
  color: #fff;
  padding: 8px 18px;
  height: 30px;
  border-radius: 3px;
  margin: 5px 0 0 0;
  background: #08920a;
  font-size: 11px;
  line-height: 10px;
}

.saveStandart {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 10px 0 0 0;

  button {
    color: #fff;
    padding: 8px 10px;
    border-radius: 3px;
    margin: 5px 0 0 0;
    background: #08920a;
    line-height: 10px;
    width: 120px;
    font-size: 14px;
    height: 35px;
  }
}

.standartCheckbox {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 10px 0px;

  input {
    width: 17px;
    height: 17px;
    cursor: pointer;
  }

  label {
    font-size: 14px;
    cursor: pointer;
  }
}

.searchBigData {
  padding: 5px 12px;
  margin: 5px 0 0 0;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;

  > div {
    position: relative;
    width: calc(100% - 120px);
  }

  input {
    border-radius: 5px;
    border: 1px solid #737373;
    background: #4b4b4b;
    padding: 0 10px;
    font-size: 13px;
    height: 35px;
    color: #ffffffd0;
    font-weight: 500;
    width: 100%;

    &:focus {
      outline: none;
      color: #fff;
      border: 1px solid #007fd4;
    }
  }

  .clear {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 27px;
    height: 27px;
    cursor: pointer;
  }

  .search {
    background: #08920ad0;
    height: 35px;
    border-radius: 5px;
    font-size: 12px;
    padding: 0 15px 0px;
    width: 100px;
    display: flex;
    align-items: center;
    gap: 5px;

    svg {
      width: 18px;
      height: 18px;
    }

    p {
      font-size: 13px;
    }
  }
}

.btnAction {
  color: #fff;
  padding: 18px 20px;
  border-radius: 3px;
  margin: 10px 0 0 0;
  background: #08920a;
  font-size: 14px;
  float: right;
}
