.migration {
  .modal {
    &__inner {
      min-width: 450px;
      width: 450px;
      max-width: 450px;

      .description {
        font-size: 13px;
        margin: 10px 0 0 0;
      }

      .btnAction {
        width: 160px !important;
        height: auto !important;
      }
    }
  }

  .checkboxBlock {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 0px 10px;
    cursor: pointer;

    input {
      width: 18px;
      height: 18px;
      cursor: pointer;
    }

    p {
      margin: 0 !important;
    }
  }
}
