.myInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 100%;
  margin: 15px 0 0 0;

  h5 {
    display: block;
    font-size: 12px;
    line-height: 13px;
    text-align: left;
    font-weight: 500;
    color: #c0c0c0;
  }

  input {
    font-size: 12px;
    line-height: 15px;
    padding: 3px 5px;
    border: none;
    border-radius: 2px;
    color: #222;
    width: 100%;
    height: 30px;
    background: #9c9c9c;
    font-weight: 700;

    &::placeholder {
      font-family: "Cygre Book", sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      text-align: left;
      color: #b9b9b9;
    }

    &:focus {
      color: #050505;
      outline: none;
      // border: 1px solid #050505;
    }
  }
}
