.dnsMain {
  padding-bottom: 5px;
  width: 100%;
  display: flex;

  &__add {
    padding-top: 5px;
    width: 70%;
    height: 99vh;
    border: 1px dashed rgb(90, 88, 88);
    background: #292d32 !important;

    &__inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .activeDns {
      border: 1px dashed rgb(90, 88, 88) !important;
      background: #bcb9b96b;

      .dnsMain__add__inner {
        height: 100% !important;
      }

      .actionDns {
        display: none;
      }

      .refresh {
        color: rgb(9 192 12) !important;
      }
    }
  }

  &__edit {
    width: 100%;
    height: 99vh;
    padding-top: 5px;
  }

  &__table {
    background: transparent !important;

    thead {
      tr {
        th {
          padding: 15px 10px;
          border: none !important;
        }
      }
    }
    &::-webkit-scrollbar {
      min-width: 5px;
      max-width: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      min-width: 5px;
      max-width: 5px;
      &:hover {
        background-color: #050505;
      }
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      cursor: pointer;
      max-height: 50px;
      min-height: 50px;
    }

    &:hover {
      &::-webkit-scrollbar-track {
        background-color: #050505;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #ffffff4e;
      }
    }
  }
}

.actionDns {
  width: 100%;
  background: rgb(30, 31, 35);
  margin: 10px 0 0 0;
  height: 210px;
  max-height: 210px;
  min-height: 210px;
  padding: 5px;
  border-top: 1px dashed rgb(90, 88, 88);
}
