.dnsMain {
  padding-bottom: 5px;
  width: 100%;
  display: flex;

  &__add {
    // padding-top: 4px;
    width: 40%;
    height: 99vh;
    border: 1px dashed rgb(90, 88, 88);
    background: #292d32 !important;

    &__inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .activeDns {
      border: 1px dashed rgb(90, 88, 88) !important;
      background: #bcb9b96b;

      .dnsMain__add__inner {
        height: 100% !important;
      }

      .actionDns {
        display: none;
      }

      .refresh {
        color: rgb(9 192 12) !important;
      }
    }
  }

  &__edit {
    width: 60%;
    height: 99vh;
    padding-top: 5px;
  }

  &__table {
    background: transparent !important;

    thead {
      tr {
        th {
          padding: 0px 10px;
          font-size: 13px;
          font-weight: 600;
          border-bottom: 1px solid rgba(224, 224, 224, 0.205) !important;
        }
      }
    }
    &::-webkit-scrollbar {
      min-width: 5px;
      max-width: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      min-width: 5px;
      max-width: 5px;
      &:hover {
        background-color: #050505;
      }
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      cursor: pointer;
      max-height: 50px;
      min-height: 50px;
    }

    &:hover {
      &::-webkit-scrollbar-track {
        background-color: #050505;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #ffffff4e;
      }
    }
  }
}
