.addDns {
  padding: 0px;
  animation: modal 0.7s ease-in-out;

  .second {
    display: flex;
    align-items: flex-end;
    gap: 5px;

    .myInput:nth-child(1) {
      width: 220px;
    }
    .myInput:nth-child(2) {
      width: 150px;
    }
    .myInput:nth-child(3) {
      width: 75px;
    }
    .myInput:nth-child(4) {
      width: 300px;
    }

    .my_ip {
      .myInput {
        width: 150px;
      }
    }
  }

  .bool {
    display: flex;
    align-items: center;
    margin: 5px 0 0 0;
    gap: 5px;
    cursor: pointer;

    input {
      width: 15px;
      height: 15px;
    }

    label {
      font-size: 13px;
      line-height: 15px;
      font-weight: 600;
      color: #c0c0c0;
      cursor: pointer;
      display: block;
      margin: 2px 0 0 0;
    }
  }

  .actions {
    padding: 5px 0px;
  }

  .addAction {
    color: #fff;
    padding: 8px 10px;
    height: 30px;
    width: 75px !important;
    min-width: 75px !important;
    border-radius: 3px;
    margin: 5px 0 0 0;
    background: #08920a;

    font-size: 11px;
    line-height: 10px;
  }

  .rigth {
    justify-content: flex-end;
  }

  .time {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;

    > .myInput {
      width: 20%;
    }

    .comment {
      width: 100%;
      .myInput {
        width: 100%;
      }
    }
  }
}

@keyframes modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
